.container {
  width: 80%;
  padding-top: 20px;
  margin: 0 auto;

  .logo {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 15px 20px;

    img {
      height: 115px;
    }

    .title {
      margin-left: 200px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .search {
    max-width: 700px;
    margin: 0 auto;
    .title {
      margin-bottom: 5px;
      font-size: 32px;
      font-weight: bold;
    }
  }

  .topNews {
    max-width: 1100px;
    padding-top: 265px;
    padding-bottom: 120px;
    margin: 0 auto;
  }
}
