@import "../../../Global.scss";

.button {
  padding: 10px 25px;
  height: 46px;
  background-color: var(--button-color);
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: var(--button-font-size);
  color: var(--button-text);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: var(--button-hover);
  }
}
