.searchContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  position: relative;



  .search {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
