.formContainer {
  margin: 0 auto;
  max-width: 590px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .button {
      margin-top: 15px;
      justify-self: flex-end;
      align-self: flex-end;
    }
  }
}
