@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  max-width: 1280px;
  overflow-x: hidden;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.owner {
  font-size: 14px;
  color: #8282827a;
  position: fixed;
  width: 100%;
  bottom: 8px;
  left: 50%;
  right: 50%;
}
